.button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;

  &__middle {
    height: 40px;
    width: 40px;
  }

  &:first-child {
    padding-left: 0px;
    width: 33px;
  }
}
