.button {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 0px;

  &__small {
    height: 12px;
    width: 12px;
  }

  &__middle {
    height: 40px;
    width: 40px;
  }
}

