.content {
  background-color: #fafafa;
  flex-grow: 1;
  order: 1;

  display: flex;
  flex-direction: column;

  &__main-column {
    flex-grow: 1;
    width: 100%;
    max-width: 935px;
    margin: 0 auto;
    padding-top: 60px;

    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
  }
}
