body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.layout {
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
