.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  &__middle {
    height: 24px;
    width: 24px;
  }

  &__small {
    height: 10px;
    width: 10px;
  }

  &_clickable {
    cursor: pointer;
    outline: none;
  }

  &__link-wrapper {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}
