.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  &__link-wrapper {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}
