.iconblock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}

.icon__explore {
  background-image: url(/static/img/explore_icon.png);
}

.icon__like {
  background-image: url(/static/img/like_icon.png);
}

.icon__profile {
  background-image: url(/static/img/profile_icon.png);
}
