.search {
  height: 28px;
  width: 215px;
  min-width: 125px;

  &__button {
    box-sizing: border-box;
    padding: 5px;

    border: solid 1px #dbdbdb;
    border-radius: 3px;

    cursor: text;
    background: #fafafa;

    color: #999;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }
}
