.avatar {
  display: block;

  &__small {
    height: 36px;
    width: 36px;
  }

  &__middle {
    height: 48px;
    width: 48px;
  }

  &__img {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.0975);

    object-repeat: no-repeat;
    object-fit: cover;

    height: inherit;
    width: inherit;
  }
}
