.actions {
  display: flex;
}

.icon {
  &__like {
    background-image: url(/static/img/like_icon.png);
  }

  &__share {
    background-image: url(/static/img/share_icon.png);
  }

  &__comment {
    background-image: url(/static/img/comment_icon.png);
  }
}
